<div  id="headerwrap">
    	<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2 mt">
					<h2>Împreuna redefinim viitorul !</h2>
                   <br>
    				<p style="margin-left:230px;"><button type="button" class="btn btn-cta btn-lg">Descopera-ne</button></p>
				</div>
				
			</div><!-- /row -->
    	</div><!-- /container -->
    </div> <!-- /headerwrap -->
    
 <div class="page" id="mission">
    <div class="content container">
      <h2>Despre noi</h2>      
      <p>TechShop este o companie din Romania care se ocupa cu vanzarea online de echipamente si componente IT, electronice, electrocasnice, produse auto.Pc Garage a fost infiintat de Radu Apostolescu, Dan Teodosescu si Bogdan Vlad si si-a inceput activitatea in anul 2001 ca magazin online de sisteme de calcul si produse de birotica.

</p>
     
    </div><!-- content container -->
  </div><!-- mission page -->

  <div class="page" id="services">
    <div class="content container">
      <h2>Servicii</h2>
      <div class="row">
        <article class="service col-sm-4">
            <img class="icon" src="images/clock_accept.png" alt="Icon">
          <h3>Deschis Non-Stop!</h3>
          <p>Acum iti poti face cumparaturile la orice ora</p>
        </article>
          
        <article class="service col-sm-4">
            <img class="icon" src="images/truck.png" alt="Icon">
          <h3>Ai transport gratuit !</h3>
          <p>Transportul este gratuit indiferent de valoarea comenzii </p>
        </article>
          
        <article class="service col-sm-4">
            <img class="icon" src="images/mail.png" alt="Icon">
          <h3>Aboneaza-te la  newsletter</h3>
          <p>Fii la curent cu cele mai fresh oferte!</p>
        </article>
<!--
        <article class="service col-sm-4">
            <img class="icon" src="images/like.png" alt="Icon">
          <h3>100% incredere</h3>
          <p>Poti deschide coletul la livrare pentru a verifica produsul</p>
        </article>

        <article class="service col-sm-4">
            <img class="icon" src="images/wallet.png" alt="Icon">
          <h3>Incadreaza-te in buget</h3>
          <p>Poti verifica in orice moment  totalul cosului de cumparaturi</p>
        </article>

        <article class="service col-sm-4">
            <img class="icon" src="images/smart_phone.png" alt="Icon">
          <h3>Vaccinations</h3>
          <p>Our veterinarians are experienced in modern vaccination protocols that prevent many </p>
        </article> 
-->
      </div><!-- row -->   
    </div><!-- content container -->
  </div><!-- services page -->

  <div class="page" id="staff">
      <div class="container container-fluid">
          <div class="row">
              <h2 id="ourstaff">Echipa</h2>
           
                  

                    <div class="angajat col-md-3">
                        <img class="img-circle" src="images/profile_user.png" alt="Photo of Dr Sanders">
                      <h3>David Guetta</h3>
                     
                    </div> <!-- doctor -->
            
                  
                    

                   
                

                    <div class="angajat col-md-3">
                        <img class="img-circle" src="images/profile_user.png" alt="Photo of Dr Sanders">
                      <h3>Mitru Alexandru</h3>
                     
                    </div> <!-- doctor -->
          
                  
                
                 

                    <div class="angajat col-md-3">
                        <img class="img-circle" src="images/profile_user.png" alt="Photo of Dr Sanders">
                      <h3>Spinei Mihai</h3>
                    </div>
                    
                    <div class="angajat col-md-3">
                        <img class="img-circle" src="images/profile_user.png" alt="Photo of Dr Sanders">
                      <h3>Popescu Constantin</h3>
                    </div>
                     
                    
              </div>
                  
            </div>
        </div>
  </div><!-- staff page -->

  <div class="page" id="testimonials">
      
      <div class="container">
          <h2>Testimonianiale</h2>
          <div class="row">
              <blockquote class="col-sm-6" id="janeh">
                  <div class="quote">
                    <span class="intro">O firma de incredere, cu angajati profesionisti care  livreaze  produse numai de calitate superioara.</span>
                   
                  </div>
                </blockquote>

                <blockquote class="col-sm-6" id="mcphersons">
                  <div class="quote">
                    <span class="intro">Compania dvs. a raspuns prompt solicitariilor noastre. Produsele livrate au fost in stare impecabila. </span>
                   
                  </div>
                </blockquote>

              
              </div>
          </div><!-- testimonials page -->
      </div>
           
</div><!-- main -->
<!--footer-->
<footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3><i class="fa fa-map-marker"></i> Adresa</h3>
                        <p>Str. Independentei nr. 1, Ploiesti</p>
                    </div>
                    <!-- Social
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a  href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    -->
                    <div class="footer-col col-md-4">
                        <h3><i class="fa fa-phone"></i> Telefon</h3>
                        <p>0232254267</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3><i class="fa fa-envelope"></i> Email</h3>
                        <p>contact@commerce.ro</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                       Commerce S.R.L © 2015 – Toate drepturile rezervate.
                    </div>
                </div>
            </div>
        </div>
    </footer>


 